.Wrapper {
  padding-top: 0;
  height: 200px;
  overflow-y: scroll;
  position: relative;
}
.Overlay {
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  position: sticky;
  top: 0;
  left: 0;
  background-color: #fff;
  border-bottom: 1px solid #ccc;

  > div:nth-child(1) {
    > h1 {
      margin-bottom: 5px;
      font-size: 22px;
      font-weight: 700;
    }
  }
  > div:nth-child(2) {
    > button {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: transparent;
      font-size: 22px;
    }
  }
}
