.Wrapper {
  padding: 10px;
}

.Inner {
  a {
    color: #ccc;
    font-size: 18px;
    font-weight: 700;
    text-decoration: none;
    transition: 0.6s;
  }
  a:hover {
    color: #000;
    transition: 0.6s;
  }
}
